<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class="d-flex">
        <div class="p-2">
          <a class="navbar-brand" href="#">Flixter</a>
        </div>
        <div class="p-2">
          <a class="nav-item nav-link" href="#">See all Courses</a>
        </div>
        <div class="ml-auto p-2">
          <a class="nav-item nav-link" href="#">Log in</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
